<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
</head>
<body>
<div class="navbar">
  <a class="active" href="{% url 'index' %}">Home</a>
  <a class="active" href="{% url 'books' %}">Books</a>
  <a class="active" href="{% url 'authors' %}">Authors</a>
  <a class="active" href="{% url 'language' %}">Languages</a>
  <a class="active" href="{% url 'genre' %}">Genres</a>
  <a class="active" href="{% url 'visitor' %}">Contact Us</a>
  <a class="active" href="{% url 'blog' %}"> Blogs</a>
  <a class="active" href="{% url 'interview' %}">Interview Questions</a>
  <a class="active" href="https://www.goapti.in/" target="_blank">GoApti.In</a>
  <div class="dropdown">
      {% load static %}
      <script src="{% static '/js/script4.js' %}" type="text/javascript"></script>
  <button class="dropbtn" onclick="myFunction()">More
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="myDropdown">
     {{ user.get_username }}
      {% if user.is_staff %}
   {% if perms.catalog.can_mark_returned %}
   <a class="active" href="{% url 'all-borrowed' %}">Borrowers</a>
   <a class="active" href="{% url 'author_create' %}">Create Author</a>
   <a class="active" href="{% url 'book_create' %}">Add Book</a>
   <a class="active" href="{% url 'blog_create' %}">Add Blog</a>
   <a class="active" href="{% url 'interview_create' %}"> Add Interview</a>
   <a class="active" href="http://localhost:8000/admin/login/?next=/admin/" target="_blank">Admin Site</a>
    {% endif %}
    {% endif %}
      {% if user.is_authenticated %}
     <a class="active" href="{% url 'donate' %}">Donate Books </a>
     <a class="active" href="{% url 'my-borrowed' %}">My Borrowed</a>
     <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
   {% else %}
     <a class="active" href="{% url 'login'%}?next={{request.path}}">Login</a>
     <a class="active" href="{% url 'signup' %}">Sign Up</a>
   {% endif %}
  </div>
  </div>
</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
</html>