<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Local Library by Abhigyan</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<h3><div class="topnav">
  <a class="active" href="{% url 'index' %}">Home</a>
  <a class="active" href="{% url 'books' %}">Books</a>
  <a class="active" href="{% url 'authors' %}">Authors</a>
  <a class="active" href="{% url 'language' %}">Languages</a>
  <a class="active" href="{% url 'genre' %}">Genres</a>
  <a class="active" href="{% url 'visitor' %}">Contact Us</a>
  <a class="active" href="{% url 'blog' %}"> Blogs</a>
  <a class="active" href="https://www.goapti.in/" target="_blank">GoApti.In</a>
  <a class="active" href="http://localhost:8000/admin/login/?next=/admin/" target="_blank">Admin Site</a>
  {% if user.is_authenticated %}
     <a class="active" href="{% url 'donate' %}">Donate Books </a>
     <a class="active" href="{% url 'my-borrowed' %}">My Borrowed</a>
     <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
   {% else %}
     <a class="active" href="{% url 'login'%}?next={{request.path}}">Login</a>
     <a class="active" href="{% url 'signup' %}">Sign Up</a>
   {% endif %}
    {% if user.is_staff %}
   {% if perms.catalog.can_mark_returned %}
   <a class="active" href="{% url 'all-borrowed' %}">Borrowers</a>
   <a class="active" href="{% url 'author_create' %}">Create Author</a>
   <a class="active" href="{% url 'book_create' %}">Add Book</a>
   <a class="active" href="{% url 'blog_create' %}">Add Blog</a>
    {% endif %}
    {% endif %}
  </div>
</h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
</html>