{% extends "base_generic.html" %}

{% block content %}
  <h1><div class="topnav">
  <a class="active" href="{% url 'index' %}">Home</a>
  <a class="active" href="{% url 'about' %}">About</a>
  <a class="active" href="contact">Contact</a>
  <a class="active" href="{% url 'login' %}">LogIn</a>
  <a class="active" href="{% url 'language' %}">Languages</a>
  <a class="active" href="{% url 'genre' %}">Genres</a>
  <input type="text" placeholder="Search..">
    </div></h1>
  <p>Welcome to LocalLibrary, a website developed by <em>Team.Py</em>!</p>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><Strong>Languages:</Strong> {{ num_languages }}</li>
    <li><strong>Genres:</strong> {{ num_genres }}</li>
  </ul>

  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock %}