{% extends "base_generic.html" %}

{% block content %}
  <h3><div class="topnav">
  <a class="active" href="{% url 'index' %}">Home</a>
  <a class="active" href="{% url 'about' %}">About</a>
  <a class="active" href="{% url 'language' %}">Languages</a>
  <a class="active" href="{% url 'genre' %}">Genres</a>
  <a class="active" href="{% url 'visitor' %}">Contact Us</a>
  <a class="active" href="{% url 'blog' %}"> Blogs</a>
  <a class="active" href="https://www.goapti.in/" target="_blank">GoApti.In</a>
  <a class="active" href="http://localhost:8000/admin/login/?next=/admin/" target="_blank">Admin Site</a>
  {% if user.is_authenticated %}
     User: {{ user.get_username }}
     <a class="active" href="{% url 'donate' %}">Donate Books </a>
     <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
   {% else %}
     <a class="active" href="{% url 'login'%}?next={{request.path}}">Login</a>
     <a class="active" href="{% url 'signup' %}">Sign Up</a>
   {% endif %}
    </div></h3>
  <h4>Welcome to LocalLibrary🏫, a web-app developed by <em>abhigyan709👦🏻</em>!</h4>

  <h3>The library has the following record counts:</h3>
  <ol>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><Strong>Languages:</Strong> {{ num_languages }}</li>
    <li><strong>Genres:</strong> {{ num_genres }}</li>
    <li><strong>Blogs:</strong> {{ num_blogs }}</li>
  </ol>

  <h6><font color="tomato">This website is Sponsored by <a href="https://www.goapti.in/" target="_blank">GoApti.In</a> India's Number. 1 Aptitude & Education Training Website</h6>
  <h5><font color="blue">More updates on the Website are Coming Soon, Stay Tuned. Thankyou For Visiting this Project.</h5>
  <h4><font color="black">You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</h4>
  <button type="button" onclick="document.getElementById('demo').innerHTML = Date()"> Click here to display Date and Time.</button>
  <p id="demo"></p>
{% endblock %}