{% extends "base_generic.html" %}

{% block content %}
  <h1><div class="topnav">
  <a class="active" href="{% url 'index' %}">Home</a>
  <a class="active" href="{% url 'about' %}">About</a>
  <!--<a class="active" href="contact">Contact</a> -->
  <!--<a class="active" href="{% url 'login' %}">LogIn</a> -->
  <!-- <a class="active" href="{% url 'logout'%}?next={{request.path}}">Logout</a> -->
  <a class="active" href="{% url 'language' %}">Languages</a>
  <a class="active" href="{% url 'genre' %}">Genres</a>
  <a class="active" href="{% url 'signup' %}">Sign Up</a>
  <a class="active" href="{% url 'visitor' %}">Visitors</a>
  <a class="active" href="{% url 'donate' %}">Donate Books</a>
  {% if user.is_authenticated %}
     User: {{ user.get_username }}
     <a class="active" href="{% url 'my-borrowed' %}">My Borrowed</a>
     <a class="active" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
   {% else %}
     <a class="active" href="{% url 'login'%}?next={{request.path}}">Login</a>
   {% endif %}
  <!--<input type="text" placeholder="Search.."> -->
    </div></h1>
  <h2>Welcome to LocalLibrary, a website developed by <em>abhigyan709</em>!</h2>

  <h3>The library has the following record counts:</h3>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><Strong>Languages:</Strong> {{ num_languages }}</li>
    <li><strong>Genres:</strong> {{ num_genres }}</li>
  </ul>

  <h4>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</h4>
{% endblock %}