{% extends "base_generic.html" %}

{% block content %}
  <h1>Available Blogs</h1>
  {% if blog_list %}
    {% for blog in blog_list %}
          <ol>
              <div>
    <style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
  </div>
                    <h2 style="color: green;">{{ blog.title }}</h2>
                    <p>Author: {{ blog.author }} | Published On: {{ blog.created_on}} </p>
                    <p>{{blog.content|slice:":200" }}</p>
                    <a href="{% url 'blog_detail' blog.slug  %}" class="button">Read More &rarr;</a>

          </ol>
    {% endfor %}
  {% else %}
    <p>There is nothing to show blog in the library.</p>
  {% endif %}
{% endblock %}