{% extends "base_generic.html" %}

{% block content %}
{% if form.errors %}
  {% load static %}
  <script src="{% static '/js/script3.js' %}" type="text/javascript"></script>
{% endif %}
  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <div>
    <style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
    <button type="submit" class="button">Submit</button>
  </div>
  </form>
{% endblock %}